footer.footer
    ul.footer__ul
        li.footer__li 
            a(href="https://wa.me/31684824337" target="_blank")
                i.footer__i(class="fa-brands fa-whatsapp")
        li.footer__li
            a(href="https://twitter.com/@AbdiAbdikarim3" target="_blank") 
                i.footer__i(class="fa-brands fa-twitter")
        li.footer__li
            a(href="https://www.linkedin.com/in/abdiwahaab-abdikarim-216b31187" target="_blank")
                i.footer__i(class="fa-brands fa-linkedin")

    p.footer__p &copy; Eigendom van Abdi Abdikarim
