nav.nav
    input(type="checkbox", id="nav-check")
    article.nav__header
        a.nav__logo(href="/")
            img.nav__img(src="./images/backgroundImages/logo3.webp", alt="logo")
    .nav-btn
        label.nav__label(for="nav-check")
            span
            span
            span
    ul.nav__list
        li.nav__listLink
            a.nav__a(href="/") Home
        li.nav__listLink
            a.nav__a(href="/about") About
        li.nav__listLink
            a.nav__a(href="/portfolio") Portfolio
        li.nav__listLink
            a.nav__a(href="/contact") Contact
