extends base

block append head

            

block content
    main.main
        section.about 
            .about__geheelBox
                article.about__titleImage
                    h1.about__overmijHeader Over-mij
                    
                article.about__overmyBox
                    p.about__overmySamenvatting Ik ben Abdiwahaab Abdikarim, een 22-jarige softwareliefhebber uit het pittoreske Nederland. Momenteel ben ik bezig met mijn educatieve reis, waarbij ik een opleiding Software Developer volg aan het Media College Amsterdam.

                article.about__article

                    article.about__box
                        div.about__imagebox
                            img.about__img(src="../images/backgroundImages/15.webp", alt="img")

                        div.about__skills
                            article.about__skillsHeader
                                h3.about__skillsHeader--h3 Fullstack Developer.

                            div.about__listenBox
                                article.about__skillsArticle
                                    ul.about__skillsUl

                                        li.about__skillsList
                                            i(class="fa-solid fa-chevron-right")
                                            p Name: 
                                                span Abdiwahaab
                                        li.about__skillsList
                                            i(class="fa-solid fa-chevron-right")
                                            p Achternaam: 
                                                span Abdikarim

                                        li.about__skillsList
                                            i(class="fa-solid fa-chevron-right")
                                            p Age: 
                                                span 22
                                        li.about__skillsList
                                            i(class="fa-solid fa-chevron-right")
                                            p Telefoon: 
                                                span +31 0684824337
                                        li.about__skillsList
                                            i(class="fa-solid fa-chevron-right")
                                            p Stad: 
                                                span Haarlem, Nederland

                                        li.about__skillsList
                                            i(class="fa-solid fa-chevron-right")
                                            p Email: 
                                                span Abdikarim@work.com
                                        li.about__skillsList
                                            i(class="fa-solid fa-chevron-right")
                                            p Stage: 
                                                span beschikbaar
                    
                    article.about__meerOvermij
                            p.about__meerOvermij--paragraph Mijn reis in de wereld van programmeren werd aangewakkerd door een onstuitbare nieuwsgierigheid naar technologie en de onbegrensde mogelijkheden die het biedt. Ik gedij op uitdagingen en zoek voortdurend naar mogelijkheden om mijn horizon te verbreden. Mijn passie voor codering beperkt zich niet tot de academische setting; het is een dagelijkse bezigheid die me aandrijft om op de hoogte te blijven van technologische ontwikkelingen.

                include skills