extends base

block append head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.16/typed.umd.js" integrity="sha512-+2pW8xXU/rNr7VS+H62aqapfRpqFwnSQh9ap6THjsm41AxgA0MhFRtfrABS+Lx2KHJn82UOrnBKhjZOXpom2LQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer)
    script(src="./js/func.js" defer)

block content
    main.main
            section.content
                article.box
                    div.box__banner
                        h1.box__banner--h1 Abdi Abdikarim
                        p.box__banner--h5 Ik ben 
                            span.box__banner--h5--span  web developer
                    

    

                