block content
    article.modal#js--pakket1-modal
        figure.modal_figure--pakket1
            img.modal_image(src="./images/backgroundImages/natours.webp", alt="project image")
        section.modal_section
            h2.modal_heading De creatie van toerism website
            h5 Een Soloproject
            p.modal_text Als een fullstack webontwikkelaar heb ik me onlangs gestort op het spannende avontuur van het maken van mijn eigen website, goobtatech.com. Dit project is een weerspiegeling van mijn passie voor webontwikkeling en een kans om nieuwe technologieën te verkennen. In deze blogpost zal ik jullie meenemen door het proces van het bouwen van deze site, en de lessen die ik onderweg heb geleerd
            h5 Hoe het werd gemaakt
            p.modal_text Goobtatech.com is gebouwd met behulp van moderne technologieën. Voor de backend koos ik voor Node.js met Express als mijn serverframework. De gegevens worden opgeslagen in een MongoDB-database met behulp van Mongoose voor object-document mapping. Om betalingen te verwerken, heb ik Stripe Payment geïntegreerd. Voor authenticatie en beveiliging maakte ik gebruik van tools zoals Axios, JSON Web Tokens (JWT), en Bcryptjs. Een van de uitdagingen waar ik mee te maken had, was het versturen van e-mails. Nodemailer SMTP Email bleek erg handig te zijn voor het beheren van e-mailcommunicatie met gebruikers. Verder heb ik Pug gebruikt als mijn templating-engine en Sharp voor beeldverwerking. Het transformeren van tekst in leesbare URL's werd vergemakkelijkt door Slugify en Validator zorgde ervoor dat de gegevensinvoer veilig en consistent was. Voor het verwerken van bestanden heb ik Multer geïmplementeerd en voor de frontend-bundeling gebruikte ik Parcel Bundler.
            h5 Wat ik heb geleerd
            p.modal_text Dit project bood me de kans om mijn vaardigheden op verschillende gebieden van webontwikkeling te verbeteren. Het bouwen van een volledige webtoepassing, van frontend tot backend, heeft me geholpen om een dieper inzicht te krijgen in het volledige ontwikkelingsproces. Het leren integreren van Stripe Payment voor e-commercefunctionaliteit was een waardevolle ervaring, en ik begrijp nu beter hoe betalingsgateways werken.
            h5 De grootste uitdaging
            p.modal_text Een van de meest uitdagende aspecten van dit project was het beheren van de gehele ontwikkeling in mijn eentje. Als solo-ontwikkelaar was ik verantwoordelijk voor alles, van het ontwerpen van de gebruikersinterface tot het schrijven van de serverlogica en het onderhouden van de database. Het vereiste een sterke toewijding en tijdmanagement, maar het heeft me geleerd hoe ik zelfstandig complexe webtoepassingen kan bouwen. In conclusie, goobtatech.com is het resultaat van mijn toewijding aan webontwikkeling en het verlangen om nieuwe technologieën te verkennen. Het project heeft me waardevolle lessen geleerd en me uitgedaagd om te groeien als ontwikkelaar.
            a.modal_(target="_blank" href="https://goobtatech.com/") check live
            a.modal_(target="_blank" href="https://github.com/Abdi023/natours.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket1#js--pakket1-button X

    article.product.product--pakket1#js--pakket1
        figure.product_figure.product_figure--pakket1
            img.product_image(src="./images/backgroundImages/logo.webp", alt="project image")
        section.product_section.product_section--pakket1
            button.product_button Bekijk project

    article.modal#js--pakket2-modal
        figure.modal_figure--pakket2
            img.modal_image(src="./images/backgroundImages/udemy.webp", alt="project image")
        section.modal_section
            h2.modal_heading De Creatie van Udemy clone page 
            h5 Mijn Solo Webontwikkelingsavontuur
            p.modal_text Als een fullstack webontwikkelaar was het een opwindende uitdaging om mijn eigen website te bouwen, en udemy clone is het resultaat van deze inspanningen. Dit project was een solo-inspanning, en in deze blogpost zal ik jullie meenemen door het proces van het maken van deze site, de lessen die ik heb geleerd en de moeilijkheden die ik ben tegengekomen.
            h5 Hoe het werd gemaakt
            p.modal_text Ik heb deze website gemaakt met behulp van drie belangrijke bouwstenen: JavaScript, HTML en CSS. JavaScript is de programmeertaal die de interactiviteit aan de site toevoegt, terwijl HTML en CSS worden gebruikt om de structuur en de stijl van de website te bepalen. Ik wilde dat mijn site er leuk en uitnodigend uitzag, dus ik heb wat iconen toegevoegd met behulp van Font Awesome. Deze iconen gaven een extra visuele aantrekkingskracht aan mijn site.
            h5 Wat ik heb geleerd
            p.modal_text Dit project heeft me veel geleerd over webontwikkeling. Ik heb geleerd hoe ik webpagina's kan structureren met HTML, stijl kan toevoegen met CSS en interactiviteit kan creëren met JavaScript. Het was geweldig om te ontdekken hoe deze technologieën samenwerken om een functionele website te creëren. Ook heb ik veel geleerd over probleemoplossing. Soms liep ik vast en moest ik online op zoek naar oplossingen, maar dat maakte het alleen maar leuker. Webontwikkeling is echt een leerzame reis!
            h5 De grootste uitdaging
            p.modal_text Een van de grootste uitdagingen voor mij was om alles alleen te doen. Als beginnende ontwikkelaar had ik had ik moete  om scss bems mee te gaan werken, dus ik moest alles zelf uitzoeken. Maar dat maakte het ook een waardevolle ervaring. Ik heb geleerd hoe ik zelfstandig een website kan maken en problemen kan oplossen.
            a.modal_(target="_blank" href="http://www.afeeso.nl/udem/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/front-jaar2") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket2#js--pakket2-button X

    article.product.product--pakket2#js--pakket2
        figure.product_figure.product_figure--pakket2
            img.product_image(src="./images/backgroundImages/udemy.webp", alt="project image")
        section.product_section.product_section--pakket2
            button.product_button Bekijk project

    article.modal#js--pakket3-modal
        figure.modal_figure--pakket3
            img.modal_image(src="./images/backgroundImages/gaming.webp", alt="project image")
        section.modal_section
            h2.modal_heading De Gamingshop Filter
            h5 Solo project
            p.modal_text Als beginner in webontwikkeling, wil ik graag delen hoe ik mijn eigen website, http://www.afeeso.nl/udem/, heb gemaakt. Dit project was helemaal solo en is gemaakt met enkele basistools, namelijk JavaScript, HTML, CSS en FontAwesome.
            h5 Hoe het werd gemaakt
            p.modal_text Ik begon met HTML om de structuur van de site te definiëren. Hiermee heb ik tekst en afbeeldingen toegevoegd. Vervolgens gebruikte ik CSS om de website er mooi uit te laten zien. Dit betekent dat ik kleuren, lettertypen en de algehele lay-out kon aanpasse. De javascript code werkt door te kijken naar welke games je hebt aangevinkt in de filters. Stel dat je "Forbidden West" aanvinkt. Dan zal de code alle spellen met de tag "forbiddenwest" laten zien en de rest verbergen als je op het filter klikt. Als je het filter weer uitschakelt, worden die spellen verborgen.
            h5 Wat ik heb geleerd
            p.modal_text Dit project heeft me veel geleerd, vooral als beginner. Ik heb geleerd hoe je een webpagina kunt opbouwen met HTML, stijl kunt geven met CSS en wat interactiviteit kunt toevoegen met JavaScript. Het was een geweldige manier om de basisbeginselen van webontwikkeling te begrijpen.
            h5 De grootste uitdaging
            p.modal_text De grootste uitdaging was om alles zelf te doen. Als solo-ontwikkelaar moest ik beslissingen nemen over het ontwerp, de kleuren, en hoe de site eruit moest zien. Maar dat maakte het ook erg bevredigend. Ik heb geleerd hoe je problemen kunt oplossen en creatief kunt zijn in het ontwikkelingsproces.
            a.modal_(target="_blank" href="http://www.afeeso.nl/gameshop/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/De-Gamingshop-Filter.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket3#js--pakket3-button X

    article.product.product--pakket3#js--pakket3
        figure.product_figure.product_figure--pakket3
            img.product_image(src="./images/backgroundImages/gaming.webp", alt="project image")
        section.product_section.product_section--pakket3
            button.product_button Bekijk project
    
    article.modal#js--pakket4-modal
        figure.modal_figure--pakket4
            img.modal_image(src="./images/backgroundImages/colorpicker.webp", alt="project image")
        section.modal_section
            h2.modal_heading de creatie mijn Kleurenkiezer Project
            h5 solo project
            p.modal_text Als beginner in webontwikkeling, wil ik graag mijn ervaring delen over het maken van mijn nieuwste project, de Kleurenkiezer (ColorPicker). Dit project is helemaal solo gemaakt en gebruikt enkele geadvanceerde tools zoals es6 JavaScript, HTML, SCSS(CSS) en Font Awesome.
            h5 Hoe het werd gemaakt
            p.modal_text Ik begon met het bouwen van de interface met HTML en gebruikte CSS om alles er mooi uit te laten zien. Dit omvatte de kleurenvakken en de knoppen om kleuren te selecteren. Dit project draait om het maken van kleurenkaarten en is gebaseerd op een aantal klassen en functies in JavaScript. Ik heb geleerd hoe ik klassen kan maken voor objecten, hoe ik eigenschappen en methoden kan toevoegen, en hoe ik objecten kan maken en aan de HTML kan toevoegen. Een belangrijk concept dat ik heb geleerd, is hoe je klassen en objecten kunt gebruiken om code overzichtelijk te houden. In dit project heb ik bijvoorbeeld de ColorCard-klasse gemaakt om individuele kleurenkaarten te vertegenwoordigen. Deze kaarten hebben eigenschappen zoals id, kleur en een HTML-element. Een ander belangrijk aspect van dit project is het genereren van willekeurige HSL-kleuren met behulp van de HSLGenerator-klasse. Dit betekent dat de kleuren op de kaarten altijd anders zijn.
            h5 Wat ik heb geleerd
            p.modal_text Allereerst heb ik begrepen hoe ik klassen in JavaScript kan creëren en deze kan gebruiken als blauwdrukken voor objecten. Dit concept van objectgeoriënteerd programmeren heeft me geholpen om code overzichtelijker en herbruikbaar te maken. Verder heb ik geleerd hoe ik HTML-elementen dynamisch kan genereren en deze aan de webpagina kan toevoegen. Dit is essentieel voor het maken van interactieve webtoepassingen. Het genereren van willekeurige HSL-kleuren met behulp van de HSLGenerator-klasse was een waardevolle ervaring. Het begrijpen van willekeurigheid in code is cruciaal voor het creëren van diverse inhoud.
            h5 De grootste uitdaging
            p.modal_text De grootste uitdaging van dit project was om alles alleen te doen. Als solo-ontwikkelaar moest ik elke beslissing nemen, van het ontwerp van de Kleurenkiezer tot de interactie en het testen van de functionaliteit. Maar deze uitdaging was ook de meest leerzame. Het hielp me groeien als ontwikkelaar en me meer vertrouwen te geven in mijn vaardigheden.
            a.modal_(target="_blank" href="http://www.afeeso.nl/ColorPicker/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/color-picker.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket4#js--pakket4-button X

    article.product.product--pakket4#js--pakket4
        figure.product_figure.product_figure--pakket4
            img.product_image(src="./images/backgroundImages/colorpicker.webp", alt="project image")
        section.product_section.product_section--pakket4
            button.product_button Bekijk project
    
    article.modal#js--pakket5-modal
        figure.modal_figure--pakket5
            img.modal_image(src="./images/backgroundImages/cms.webp", alt="project image")
        section.modal_section
            h2.modal_heading Het Verhaal Achter Ons CMS-project
            h5 group project 
            h5 ahmet, abdallah, abdi (ik)
            p.modal_text Als mede-ontwikkelaar van ons Complete CMS-project op http://www.afeeso.nl/cms/, wil ik graag onze reis delen. Dit project is het resultaat van een samenwerking tussen ons team, bestaande uit Ahmet, Abdallah, en mijzelf, Abdi. We hebben dit CMS opgebouwd met behulp van PHP, MySQL.
            h5 Hoe het werd gemaakt
            p.modal_text Ons Complete CMS-project begon met een visie om een krachtig en veelzijdig Content Management Systeem te creëren. We gebruikten PHP als onze programmeertaal en MySQL als de database om gegevens op te slaan. Hiermee konden we gebruikers beheren, content aanmaken en opslaan, en de site aanpassen zoals we dat wilden. de bedoeling is dat we blog maken die gemaakt was met php en mysql
            h5 Wat we hebben geleerd
            p.modal_text Dit project heeft ons veel geleerd over samenwerking en teamwork. Samenwerken met Ahmet en Abdallah was een geweldige ervaring, en we leerden hoe we onze individuele vaardigheden konden bundelen om iets groots te bereiken. We begrepen het belang van een goed georganiseerde database en de beveiliging van gevoelige gegevens. Het was niet altijd gemakkelijk, maar juist de uitdagingen brachten ons verder. Het beheersen van PHP en het ontwerpen van een robuust CMS was een steile leercurve, maar het heeft ons veel voldoening gegeven.
            h5 De grootste uitdaging
            p.modal_text De grootste uitdaging was het in evenwicht houden van het project, zowel in termen van functionaliteit als in termen van beveiliging. We moesten ervoor zorgen dat het CMS krachtig genoeg was om aan de behoeften van gebruikers te voldoen, terwijl we tegelijkertijd de veiligheid en privacy van gegevens waarborgden.
            a.modal_(target="_blank" href="http://www.afeeso.nl/cms/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/cms.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket5#js--pakket5-button X

    article.product.product--pakket5#js--pakket5
        figure.product_figure.product_figure--pakket5
            img.product_image(src="./images/backgroundImages/cms.webp", alt="project image")
        section.product_section.product_section--pakket5
            button.product_button Bekijk project
    
    article.modal#js--pakket6-modal
        figure.modal_figure--pakket6
            img.modal_image(src="./images/backgroundImages/blogcard.webp", alt="project image")
        section.modal_section
            h2.modal_heading het Bouwen van de Blog Card
            h5 solo project
            p.modal_text Als webontwikkelaar wil ik graag mijn ervaring delen met het maken van mijn nieuwste project, de Blog Card. Dit project is helemaal door mijzelf gemaakt en maakt gebruik van eenvoudige tools, namelijk HTML en CSS.
            h5 Hoe het werd gemaakt
            p.modal_text Het idee achter de Blog Card was om een eenvoudige, maar stijlvolle manier te creëren om mijn blogberichten te presenteren. Ik begon met HTML om de structuur van de kaart te definiëren, inclusief de titel, afbeelding en een korte beschrijving. Vervolgens gebruikte ik CSS om de kaart er aantrekkelijk uit te laten zien. Hier kon ik kleuren, lettertypen en de lay-out aanpassen. Het interessante deel was het maken van een responsief ontwerp. Ik heb geleerd hoe je ervoor kunt zorgen dat de kaart er goed uitziet op zowel grote computerschermen als op mobiele apparaten. Dit omvatte het gebruik van CSS-mediaquery's
            h5 Wat ik heb geleerd
            p.modal_text Dit project heeft me veel geleerd over de basisprincipes van webontwikkeling. Ik begreep hoe je HTML en CSS samen kunt laten werken om een aantrekkelijke webpagina te maken. Ook heb ik geleerd hoe je rekening moet houden met verschillende schermformaten voor een betere gebruikerservaring.
            h5 de grootste uitdagin.
            p.modal_text De grootste uitdaging was om alles alleen te doen. Als solowebontwikkelaar moest ik alle beslissingen nemen, van het ontwerp tot de implementatie. Dit heeft me echter zelfstandiger gemaakt en mijn probleemoplossende vaardigheden versterkt.
            a.modal_(target="_blank" href="http://www.afeeso.nl/blogCard/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/blogcard.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket6#js--pakket6-button X

    article.product.product--pakket6#js--pakket6
        figure.product_figure.product_figure--pakket6
            img.product_image(src="./images/backgroundImages/blogcard.webp", alt="project image")
        section.product_section.product_section--pakket6
            button.product_button Bekijk project
    

