block content
    article.modal#js--pakket1-modal
        figure.modal_figure--pakket1
            img.modal_image(src="./images/backgroundImages/natours.webp", alt="HTML & CSS pakket")
        section.modal_section
            h2.modal_heading PlayStation 4
            p.modal_text De nieuwe PlayStation 4 is uit!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            a.modal_(target="_blank" href="https://goobtatech.com/") check live
            a.modal_(target="_blank" href="https://github.com/Abdi023/natours.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket1#js--pakket1-button X

    article.product.product--pakket1#js--pakket1
        figure.product_figure.product_figure--pakket1
            img.product_image(src="./images/backgroundImages/logo.webp", alt="portfolio image")
        section.product_section.product_section--pakket1
            button.product_button Bekijk project

    article.modal#js--pakket2-modal
        figure.modal_figure--pakket2
            img.modal_image(src="./images/backgroundImages/udemy.webp", alt="javascript SQ")
        section.modal_section
            h2.modal_heading De juiste zwembroek kiezen
            p.modal_text Heren wat te dragen naar het strand: tips
            p.modal_text Op het gebied van zwemkleding hebben heren helaas minder keuze dan mannen. Vrouwen hebben de keuze uit honderden verschillende modellen bikini’s, tankini’s, badpakken en meer. annen moeten het enkel doen met zwemboxers, zwemshorts en boardshorts. Een zwemboxer sluit nauw aan je lichaam en voel je nauwelijks. Wanneer je een goede zwemboxer hebt is deze waterafstotend en droogt hij snel op. Zwemshorts kun je aantrekken met een elastische band met veter waardoor deze niet afzakken. Ze zijn verkrijgbaar in vele kleuren en prints. Een derde optie zijn de boardshorts, een goede optie voor watersporten. In dit model kun je zonder belemmeringen vrij bewegen. Ga dus voor jezelf na welke optie het best bij jou past!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            a.modal_(target="_blank" href="http://www.afeeso.nl/udem/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/front-jaar2") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket2#js--pakket2-button X

    article.product.product--pakket2#js--pakket2
        figure.product_figure.product_figure--pakket2
            img.product_image(src="./images/backgroundImages/udemy.webp", alt="portfolio image")
        section.product_section.product_section--pakket2
            button.product_button Bekijk project

    article.modal#js--pakket3-modal
        figure.modal_figure--pakket3
            img.modal_image(src="./images/backgroundImages/gaming.webp", alt="Python")
        section.modal_section
            h2.modal_heading Boho kleding voor iedere gelegenheid
            p.modal_text Boho kleding voor iedere gelegenheid
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Een volledige professionele camera-uitrusting die je in één hand vasthoudt. De driedubbele achtercamera en selfiecamera zijn voorzien van innovatieve hardware en software waarmee je zo je Galerij vol prachtfoto's schiet. Zonde om niet te delen!
            p.modal_text 's Nachts is het leven spannender. Leg alles vast met onze professionele camera voorzien van epische upgrades. De Big Pixel Sensor vergroot pixels om nog meer licht je foto's in te trekken en de Super Clear Glass vermindert schittering voor kraakheldere nachtfoto's en -video's.
            p.modal_text Inspiratie wacht niet totdat het licht perfect is, en jij nu ook niet meer! Onze videotechnologie is nog nooit zó snel vooruitgegaan. De auto framerate-technologie past de FPS-snelheid automatisch aan aan je omgeving en Super Night Solution dempt ruis in elk frame voor hoogwaardige, levendige beelden, of je je nou in het zonlicht of onder de sterrenhemel bevindt.
            p.modal_text Maak baanbrekende portretten en zelfportretten bij weinig licht dankzij revolutionaire upgrades van de achtercamera en selfiecamera. Elke camera vangt meer licht op voor ongelooflijke kleuren en details - zodat je de Portretmodus ook bij weinig licht onder de knie krijgt.
            a.modal_(target="_blank" href="http://www.afeeso.nl/gameshop/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/newsletterAPI.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket3#js--pakket3-button X

    article.product.product--pakket3#js--pakket3
        figure.product_figure.product_figure--pakket3
            img.product_image(src="./images/backgroundImages/gaming.webp", alt="Python")
        section.product_section.product_section--pakket3
            button.product_button Bekijk project
    
    article.modal#js--pakket4-modal
        figure.modal_figure--pakket4
            img.modal_image(src="./images/backgroundImages/colorpicker.webp", alt="Python")
        section.modal_section
            h2.modal_heading Boho kleding voor iedere gelegenheid
            p.modal_text Boho kleding voor iedere gelegenheid
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Een volledige professionele camera-uitrusting die je in één hand vasthoudt. De driedubbele achtercamera en selfiecamera zijn voorzien van innovatieve hardware en software waarmee je zo je Galerij vol prachtfoto's schiet. Zonde om niet te delen!
            p.modal_text 's Nachts is het leven spannender. Leg alles vast met onze professionele camera voorzien van epische upgrades. De Big Pixel Sensor vergroot pixels om nog meer licht je foto's in te trekken en de Super Clear Glass vermindert schittering voor kraakheldere nachtfoto's en -video's.
            p.modal_text Inspiratie wacht niet totdat het licht perfect is, en jij nu ook niet meer! Onze videotechnologie is nog nooit zó snel vooruitgegaan. De auto framerate-technologie past de FPS-snelheid automatisch aan aan je omgeving en Super Night Solution dempt ruis in elk frame voor hoogwaardige, levendige beelden, of je je nou in het zonlicht of onder de sterrenhemel bevindt.
            p.modal_text Maak baanbrekende portretten en zelfportretten bij weinig licht dankzij revolutionaire upgrades van de achtercamera en selfiecamera. Elke camera vangt meer licht op voor ongelooflijke kleuren en details - zodat je de Portretmodus ook bij weinig licht onder de knie krijgt.
            a.modal_(target="_blank" href="http://www.afeeso.nl/ColorPicker/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/newsletterAPI.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket4#js--pakket4-button X

    article.product.product--pakket4#js--pakket4
        figure.product_figure.product_figure--pakket4
            img.product_image(src="./images/backgroundImages/colorpicker.webp", alt="Python")
        section.product_section.product_section--pakket4
            button.product_button Bekijk project
    
    article.modal#js--pakket5-modal
        figure.modal_figure--pakket5
            img.modal_image(src="./images/backgroundImages/cms.webp", alt="Python")
        section.modal_section
            h2.modal_heading Boho kleding voor iedere gelegenheid
            p.modal_text Boho kleding voor iedere gelegenheid
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Een volledige professionele camera-uitrusting die je in één hand vasthoudt. De driedubbele achtercamera en selfiecamera zijn voorzien van innovatieve hardware en software waarmee je zo je Galerij vol prachtfoto's schiet. Zonde om niet te delen!
            p.modal_text 's Nachts is het leven spannender. Leg alles vast met onze professionele camera voorzien van epische upgrades. De Big Pixel Sensor vergroot pixels om nog meer licht je foto's in te trekken en de Super Clear Glass vermindert schittering voor kraakheldere nachtfoto's en -video's.
            p.modal_text Inspiratie wacht niet totdat het licht perfect is, en jij nu ook niet meer! Onze videotechnologie is nog nooit zó snel vooruitgegaan. De auto framerate-technologie past de FPS-snelheid automatisch aan aan je omgeving en Super Night Solution dempt ruis in elk frame voor hoogwaardige, levendige beelden, of je je nou in het zonlicht of onder de sterrenhemel bevindt.
            p.modal_text Maak baanbrekende portretten en zelfportretten bij weinig licht dankzij revolutionaire upgrades van de achtercamera en selfiecamera. Elke camera vangt meer licht op voor ongelooflijke kleuren en details - zodat je de Portretmodus ook bij weinig licht onder de knie krijgt.
            a.modal_(target="_blank" href="http://www.afeeso.nl/cms/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/newsletterAPI.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket5#js--pakket5-button X

    article.product.product--pakket5#js--pakket5
        figure.product_figure.product_figure--pakket5
            img.product_image(src="./images/backgroundImages/cms.webp", alt="Python")
        section.product_section.product_section--pakket5
            button.product_button Bekijk project
    
    article.modal#js--pakket6-modal
        figure.modal_figure--pakket6
            img.modal_image(src="./images/backgroundImages/blogcard.webp", alt="Python")
        section.modal_section
            h2.modal_heading Boho kleding voor iedere gelegenheid
            p.modal_text Boho kleding voor iedere gelegenheid
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Oorspronkelijk wordt de inwoner van het westelijke gedeelte van Tsjechië een Bohemien genoemd. Het werd gebruikt voor de zigeuners in Frankrijk die zeiden dat ze uit de Bohemen kwamen. Hierdoor werd de naam Bohémien in Frankrijk een naam voor de zigeuners, de Roma’s. Dit werd in het Engels vertaald naar “Bohemian”. De Boheemse kledingstijl is in de 19e eeuw ontstaan en ontwikkelde zich tot een zekere lifestyle. Als je leefde volgens deze leefstijl zou je een onbezorgd en vrij leven nastreven. In deze tijd droegen de mensen zoal kleurrijke, losse kleding en opvallende sieraden. Uiteindelijke draait de bohemian levensstijl om vrij, onbezorgd en gelukkig leven!
            p.modal_text Een volledige professionele camera-uitrusting die je in één hand vasthoudt. De driedubbele achtercamera en selfiecamera zijn voorzien van innovatieve hardware en software waarmee je zo je Galerij vol prachtfoto's schiet. Zonde om niet te delen!
            p.modal_text 's Nachts is het leven spannender. Leg alles vast met onze professionele camera voorzien van epische upgrades. De Big Pixel Sensor vergroot pixels om nog meer licht je foto's in te trekken en de Super Clear Glass vermindert schittering voor kraakheldere nachtfoto's en -video's.
            p.modal_text Inspiratie wacht niet totdat het licht perfect is, en jij nu ook niet meer! Onze videotechnologie is nog nooit zó snel vooruitgegaan. De auto framerate-technologie past de FPS-snelheid automatisch aan aan je omgeving en Super Night Solution dempt ruis in elk frame voor hoogwaardige, levendige beelden, of je je nou in het zonlicht of onder de sterrenhemel bevindt.
            p.modal_text Maak baanbrekende portretten en zelfportretten bij weinig licht dankzij revolutionaire upgrades van de achtercamera en selfiecamera. Elke camera vangt meer licht op voor ongelooflijke kleuren en details - zodat je de Portretmodus ook bij weinig licht onder de knie krijgt.
            a.modal_(target="_blank" href="http://www.afeeso.nl/blogCard/") view project
            a.modal_(target="_blank" href="https://github.com/Abdi023/newsletterAPI.git") check github
            a.modal_link(href="/portfolio") Terug
        button.modal_button.modal_button--pakket6#js--pakket6-button X

    article.product.product--pakket6#js--pakket6
        figure.product_figure.product_figure--pakket6
            img.product_image(src="./images/backgroundImages/blogcard.webp", alt="Python")
        section.product_section.product_section--pakket6
            button.product_button Bekijk project
    

