
extends base

block content 
    main.main
        section.portfolio
            h1 Projects
            article.portfolio__cards
                ul.portfolio__cardUL
                
                    include modal


                    

                    
            