article.about__kennis

    h1.about__h1Card Mijn skills
    
    div.about__cardBox
        ul.about__ulCard
            li.about__listCard HTML
                i(class="fa-brands fa-html5")

            li.about__listCard CSS
                i(class="fa-brands fa-css3")

            li.about__listCard Javascript
                i(class="fa-brands fa-js")
                
            li.about__listCard Node-js
                i(class="fa-brands fa-node-js")

            li.about__listCard Sass
                i(class="fa-brands fa-sass")

            li.about__listCard React-js
                i(class="fa-brands fa-react")

            li.about__listCard PHP
                i(class="fa-solid fa-server")
                
            li.about__listCard SQL
                i(class="fa-brands fa-docker")

            li.about__listCard MYSQL
                i(class="fa-brands fa-docker")

            li.about__listCard MongoDB
                i(class="fa-brands fa-docker")

            li.about__listCard Linux
                i(class="fa-brands fa-docker")

            li.about__listCard Docker
                i(class="fa-brands fa-docker")
                
        
