@use "../../abstract/colors";
@media screen and (max-width: 768px) {
  .nav {
      padding: 3rem;

      & > .nav-btn {
          display: inline-block;
          position: absolute;
          right: 3rem;
          top: 3rem;
          padding-top: 0.2rem;

          & > label {
              display: inline-block;
              width: 5rem;
              height: 5rem;
              padding: 1.3rem;

              & > span {
                  display: block;
                  width: 2.5rem;
                  height: 1rem;
                  border-top: .2rem solid #eee;
              }
          }
      }

      &__list {
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 100%;
          background-color: colors.$bs-purple;
          height: 0;
          transition: all 0.3s ease-in;
          top: 15%;
          left: 0;
          overflow: hidden;
          z-index: 99;
      }

      &__listLink {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 2rem;
      }

      & > #nav-check:checked ~ .nav__list { // Update the selector here
          height: calc(100vh - 5rem);
      }
  }
}
