@media screen and (max-width: 45rem) {
    .portfolio {
        padding: 2rem;
        
        &__cardUL{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            padding: 0;
        }
    }
}